h1 {
    color: blue;
}
h2{
    color: green;
    font-size: 60px;
}
img {
    /* width: 100px; */
}
li{
   /* list-style: none; */
    /* color : red; */

}
.title1{
    /* font-size:40px; */
    margin: 20px;
    padding: 40px;
    border: 2px solid;
    color:rgb(189, 143, 75)
}
#title2{
    color:red;
    /* font-size: 80px; */
}
h1:hover {
    color:violet;
}
.title-one{
    color:violet;
    font-size:50px;
}
.header{
    color: red;
    font-size: 30px;
}